<template>
  <main id="app">
    <div class="container-title">
      <p class="titolo">
        {{ title }}
      </p>
    </div>
    <div class="container">
      <div class="container-input">
        <input type="text" name="name" v-model="newName" id="name" placeholder="employee's name" class="myInput">
      </div>
      <div class="container-input">
        <input type="text" name="surname" id="surname" v-model="newSurname" placeholder="epmloyee's surname" class="myInput">
      </div>
      <div class="container-input">
        <input type="text" name="age" id="age" v-model="newAge" placeholder="employee's age" class="myInput">
      </div>
      <div class="container-button">
        <button @click="addEmploy" type="submit">Add employ</button>
      </div>
    </div>
    <div v-for="employ in employees" :key="employ.nome" class="card">
      <h2>{{employ.nome}}</h2>
      <h2>{{employ.surname}}</h2>
      <h4>{{employ.age}}</h4>
    </div>
    <footer>
      <div class="message">BY CONDOR TECH</div>
    </footer>
  </main>
</template>

<script>


export default {
  name: 'App',
  data() {
    return {
      message: 'Ciao',
      title: 'TEST APP',
      newName: '',
      newSurname: '',
      newAge: '',
      isThereErrors: false,
      //It will be a employee page where we can add employee
      employees: [
        {
          nome: '',
          surname: '',
          age: null,
        }
      ]
    }
  },
  methods: {
    controlInputs() {
      //control every inputs
      let errors = [];
      if(this.newName == "") {
        errors.push("Name not present");
      }

      if(this.newSurname == "") {
        errors.push("Name not present");
      }

      if(this.newAge == "") {
        errors.push("Age not present");
      }

      if(this.newName.length <= 2) {
        errors.push("Name not correct");
      }

      if(this.newSurname.length <= 2) {
        errors.push("Name not correct");
      }

      if(this.newAge <= 0) {
        errors.push("Age not correct");
      }

      return errors;
    },


    addEmploy() {
      let controlResult = this.controlInputs();

      // console.log("control result: ", controlResult);
      // console.log("length of errors; ", controlResult.length);

      if(controlResult.length > 0) {
        this.isThereErrors = true;
        console.log("C'è qualche errore: ", this.isThereErrors);
      }
      else {
        this.isThereErrors = false;
        //adding a new user
        this.employees.push({
          nome: this.newName,
          surname: this.newSurname,
          age: this.newAge,
        });

        console.log("list of employees: ", this.employees);
      }

    }

  }
}
</script>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
    background-color: #3BB9FF	;
  }

  #app {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    scroll-behavior: auto;
  }

  .container {
    text-align: center;
    width: 30%;
    display: block;
    padding-top: 25px;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 8px;
  }

  .container-title {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
    font-size: 3rem;
    font-weight: 900;
    color: #F62817;
  }

  .container-input {
    padding-top: 25px;
  }

  .myInput {
    background-color: #E0FFFF;
    border: none;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    border-radius: 8px;
    text-align: center;
  }

  .myInput:focus {
    border-radius: 16px
  }

  .container-button {
    padding: 1rem 0;
  }

  button {
    border: none;
    border-radius: 8px;
    font-size: 2rem;
  }

  footer {
    margin: 0 auto;
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 30%;
  margin: 25px auto;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

</style>
